.DS_Store
Thumbs.db

.bundle
.byebug_history
.env
.envrc
.powenv
.rspec
.yarn-integrity

/containers/webapp/log/*
/containers/webapp/tmp/*
!/containers/webapp/log/.keep
!/containers/webapp/tmp/.keep
/containers/webapp/storage/*
!/containers/webapp/storage/.keep
/containers/webapp/node_modules
/containers/webapp/yarn-error.log
/containers/webapp/public/assets
/containers/webapp/config/master.key

.terraform
terraform.tfvars
terraform.tfstate
terraform.tfstate.*

/aws/*/.terraform/
/aws/*/terraform.*
!/aws/*/terraform.tfvars.exmaple